.fund-container {
  width: 100%;
  background-color: rgb(221, 223, 232);

}
.fund-main-nav {
  display: flex;
  width: 100%;
  padding: 0px 10px 50px 10px;
  margin-top: 60px;

}
.fund-main-nav-1 {
  max-width: 100%;
}
.fund-main-nav-2 {
  width: 100%;
}
.fund-main-nav-2::after{
  width: 100%;
}
@media screen and (max-width: 800px) {
  .fund-main-nav {
    padding: 10px 10px 30px 10px;
    margin-top: 0px;
  }
  .fund-main-nav-1{
    max-width: 100%;
    padding: 50px 0px 0px 0px;
  }
  .fund-main-nav-2{
    max-width: 100%;
    padding: 50px 0px 0px 0px;
  }
}

@media screen and (max-width: 600px) {
  .fund-main-nav {
    padding: 90px 0px 0px 0px;
    width: 100%;
    flex-direction: column;
  }
  .fund-main-nav-1{
    max-width: 100%;
    padding: 0px 0px 0px 0px;
  }
  .fund-main-nav-2{
    max-width: 100%;
    padding: 0px 0px 0px 0px;
  }


}
@media screen and (max-width: 400px) {
  .fund-main-nav {
    width: 100%;
    flex-direction: column;
    padding: 70px 5px 30px 5px;
  }
  .fund-main-nav-1 {
    max-width: 100%;
  }
}
