.help-container {
  width: 100%;
  background-color: rgb(221, 223, 232);
}
.help-main-nav {
  display: flex;
  width: 100%;
  padding: 0px 10px 50px 10px;
  margin-top: 60px;
}

.help-main-nav-2 {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .help-main-nav {
    padding: 10px 10px 30px 10px;
    margin-top: 0px;
  }
  .help-main-nav-1 {
    width: 200px;
    padding: 50px 0px 0px 0px;
  }
  .help-main-nav-2 {
    width: 100%;
    padding: 50px 0px 0px 0px;
  }
}

@media screen and (max-width: 600px) {
  .help-main-nav {
    padding: 90px 0px 0px 0px;
    width: 100%;
    flex-direction: column;
  }
  .help-main-nav-1 {
    width: 100%;
    padding: 0px 0px 0px 0px;
  }
  .help-main-nav-2 {
    width: 100%;
    padding: 0px 0px 0px 0px;
  }
}
@media screen and (max-width: 400px) {
  .help-main-nav {
    width: 100%;
    flex-direction: column;
    padding: 70px 5px 30px 5px;
  }

  .help-main-nav-1 {
    max-width: 100%;
  }
}
